@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Base */

* {
  box-sizing: border-box;
}

:root {
  --green: #1db954;
  --light-green: #1ed760;
  --blue: #1e3264;
  --light-blue: #2a468d;
  --white: #fff;
  --grey: grey;
  --light-grey: #f8f8f8;
  --black: black;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

.container {
  max-width: 1170px;
  margin-inline: auto;
}

/* composant button */
.button {
  background-color: var(--blue);
  color: var(--white);
  display: inline-block;
  padding: 1em 3em;
  border-radius: 9999px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: all 0.3s;
  border: solid thin var(--blue);
  &:hover {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
  }
}

/* modifier de composant */
.button--white {
  background-color: var(--white);
  color: var(--green);
  border-color: var(--green);
  &:hover {
    background-color: var(--light-green);
    border-color: var(--light-green);
    color: var(--white);
  }
}

.button--green {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
  &:hover {
    background-color: var(--light-green);
    border-color: var(--light-green);
    color: var(--white);
  }
}

/* Header */
body > header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  color: var(--white);
  padding-block: 10px;
  a {
    color: currentColor;
    text-decoration: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-link {
    line-height: 0;
    svg {
      width: 140px;
      height: auto;
    }
  }
  nav {
    ul {
      list-style: none;
      padding-left: 0;
      margin-block: 0;
      display: flex;
    }
    li {
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
    a {
      display: block;
      padding: 16px;
    }
  }
}

/* Section1 */

.section1 {
  height: 640px;
  color: var(--white);
  background-image: url("images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  padding-bottom: 20px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  h1 {
    font-size: 6rem;
    margin-block: 0;
  }
  h2 {
    font-size: 1.875rem;
  }
  .button {
    animation: fadeUp 1s;
  }
  footer {
    text-align: center;
    flex-shrink: 0;
  }
}

.section2 {
  background-color: var(--white);
  color: var(--black);
  .container {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
  }
  li {
    width: 25%;
  }
  article {
    text-align: center;
    h3 {
      font-size: 1.25rem;
    }
    h4 {
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
}

.section3 {
  background-color: var(--light-grey);
  padding-bottom: 20px;
  h2 {
    font-size: 1.875rem;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    & > ul {
      display: flex;
      gap: 4%;
      list-style-type: none;
      padding-left: 0;
      margin-inline: auto;
      width: 70%;
      & > li {
        width: 48%;
      }
    }
  }
  article {
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
  footer {
    text-align: center;
  }
}

main + footer {
  font-size: 0.875rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
  }
  li {
    &:first-child {
      a {
        padding-left: 0;
      }
    }
  }
  a {
    display: block;
    padding: 16px;
  }
}
