@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Base */

* {
  box-sizing: border-box;
}

:root {
  --green: #1db954;
  --light-green: #1ed760;
  --blue: #1e3264;
  --light-blue: #2a468d;
  --white: #fff;
  --grey: grey;
  --light-grey: #f8f8f8;
  --black: black;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1170px;
  margin-inline: auto;
}

/* Header */
body > header {
  background-color: #0099ee;
  padding-block: 10px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-link {
    line-height: 0;
    svg {
      width: 140px;
      height: auto;
    }
  }
  nav {
    ul {
      list-style: none;
      padding-left: 0;
      margin-block: 0;
      display: flex;
    }
    li {
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
    a {
      display: block;
      padding: 16px;
    }
  }
}

/* Section1 */

.section1 {
  height: 640px;
  background-color: #0078bb;
  padding-bottom: 20px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  footer {
    text-align: center;
    flex-shrink: 0;
  }
}

.section2 {
  background-color: #008cda;
  .container {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
  }
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
  }
  li {
    width: 25%;
  }
  article {
    text-align: center;
  }
}

.section3 {
  background-color: #006ba6;
  padding-bottom: 20px;
  h2 {
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    & > ul {
      display: flex;
      gap: 4%;
      list-style-type: none;
      padding-left: 0;
      margin-inline: auto;
      width: 70%;
      & > li {
        width: 48%;
      }
    }
  }
  footer {
    text-align: center;
  }
}

main + footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
  }
  li {
    &:first-child {
      a {
        padding-left: 0;
      }
    }
  }
  a {
    display: block;
    padding: 16px;
  }
}
