@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .button {
    // reset les styles par défaut
    @include m.resetAll;

    // styles de base (padding, border, typo...)
    display: inline-block;
    padding: f.rem(10) f.rem(16);
    // de base : fond de couleur noire
    background-color: var(--black);
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    line-height: f.rem(18);

    border-radius: f.rem(6);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: var(--black-hover);
    }

    // modifiers de couleur (référence aux var css)

    &--primary {
      background-color: var(--primary);
      &:hover {
        background-color: var(--primary-hover);
      }
    }

    &--secondary {
      background-color: var(--secondary);
      &:hover {
        background-color: var(--secondary-hover);
      }
    }

    &--danger {
      background-color: var(--danger);
      &:hover {
        background-color: var(--danger-hover);
      }
    }

    // modifiers de taille

    &--sm {
      padding: f.rem(8) f.rem(12);
      font-size: f.rem(14);
      line-height: f.rem(16);
    }

    &--lg {
      padding: f.rem(16) f.rem(24);
    }
  }
}
